/* GLOBAL STYLES
======================== */

*, *:before, *:after {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

html {
  font-size: 15px;
  color: #282828;
}

body {
  font-family: "GothamPro", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

html, body {
  width: 100vw;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #85929d;
}

a:visited {
  text-decoration: none;
  color: #85929d;
}

a:hover {
  text-decoration: none;
  color: #555;
}

a.curent {
  text-decoration: none;
  color: #555;
}

nav {
  padding: 10px;
  font-family: "GothamPro-Light", Helvetica, Arial, sans-serif;
  color: #85929d;
  background-color: white;
  text-align: center;
}

.main-wrapper {
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  box-shadow: 0 5px 5px #f1f1f1;
  margin-bottom: 100px;
}

.footer {
  padding-top: 20px;
  padding-left: 20px;
  font-weight: bolder;
  position: relative;
  height: 85px;
  background-color: #f1f1f1;
  margin-top: 100px;
}





#yechiel-k-cover {
  background-image: url("/images/fcm6zBK.jpg");
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}


#yechiel-k-card {
  background-image: url("/images/yechiel-k.JPG");
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#yechiel-k-card:hover {
  border: 3px #63bedc solid;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* PROFILE.HTML STYLES
======================== */
.profile .header {
  margin: 0;
  box-shadow: none;
}

.profile-banner {
  height: 410px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.vitals-container {
  position: relative;
  min-height: 360px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e4e4e4;
}

.social-icon-container {
  width: 300px;
  margin: 0 auto;
  padding-top: 110px;
  text-align: center;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 0 8px;
}

.profile-photo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 190px;
  width: 190px;
  top: -110px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 100px;
}

.vitals-text-container {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.profile-name,
.profile-location {
  font-weight: normal;
}

.profile-name {
  font-size: 36px;
  margin-bottom: 10px;
}

.profile-location {
  font-size: 18px;
  margin-bottom: 20px;
}

.profile-contact {
  font-size: 18px;
  margin-bottom: 20px;
}

.profile-quote {
  font-family: "GothamPro-Light", Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #85929d;
  width: 75%;
  margin: 0 auto;
}

.details-container {
  width: 100%;
  max-width: 1200px;
  min-height: 350px;
  margin: 80px auto 0;
}

.details-block {
  width: 80%;
  margin: 0 auto;
}

.title-holder {
  font-family: "GothamPro-Bold", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #85929d;
  border-bottom: 1px dotted #85929d;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.description-holder {
  font-family: "GothamPro-Light", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4em;
}

.description-holder h4 {
  font-family: "GothamPro-Medium", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 8px;
  margin: 8px 0;
}

.description-holder h5 {
  font-size: 16px;
  font-weight: normal;
}

.education-content div:nth-child(3),
.experience-content div:nth-child(3) {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px dotted #85929d;
}

.education-content div:nth-child(4),
.experience-content div:nth-child(4) {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px dotted #85929d;
}

/* MEDIA QUERIES
======================== */
@media only screen and (min-width: 480px) {
  /* index.html */
  .learn-logo {
    left: 10%;
    margin: 0;
  }
  .roster-text-container h1 {
    font-size: 32px;
  }
  .roster-text-container h2 {
    font-size: 32px;
    width: 80%;
  }
  .student-card:hover .view-profile-div {
    display: block;
    z-index: 900;
  }
  .footer {
    height: 125px;
  }
  .made-with-love {
    top: 60px;
  }

  /* profile.html */
  .profile-quote {
    width: 80%;
  }
}

@media only screen and (min-width: 700px) {
  /* index.html */
  .roster-text-container h1 {
    font-size: 40px;
  }
  .roster-text-container h2 {
    font-size: 40px;
    width: 80%;
  }
  .roster-cards-container {
    width: 650px;

  }
  .student-card {
    display: inline-block;
    width: 305px;
  }
  .student-card:nth-of-type(odd) {
    margin-right: 35px;
  }

  /* profile.html */

  .profile-quote {
    width: 70%;
  }
}

@media only screen and (min-width: 1050px) {

  /* index.html */
  .roster .header {
    margin-bottom: 150px;
  }
  .roster-text-container h1 {
    font-size: 48px;
  }
  .roster-text-container h2 {
    font-size: 48px;
    width: 70%;
  }
  .roster-cards-container {
    width: 1000px;
  }
  .student-card:nth-of-type(3n) {
    margin-right: 0;
  }
  .student-card:not(:nth-of-type(3n)) {
    margin-right: 38px;
  }

  /* profile.html */

  .profile-header {
    margin-bottom: 0;
  }

  .profile-quote {
    width: 40%;
  }

  .details-container {
    width: 90%;
    position: relative;
  }

  .details-block {
    display: inline-block;
    width: 33%;
  }

  .bio-block, .education-block, .experience-block {
    position: relative;
    vertical-align: top;
  }

  .content-holder {
    width: 80%;
    margin: 0 auto;
  }

}


/* CLEARFIX HACK
======================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
